button.btn_oauth_connect {
  color: #212529;
  background-color: #ffc107;
  padding: 10px 25px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-image: none;
  margin: 10px 0;
}

button.btn_oauth_connect:focus,
button.btn_oauth_connect:hover {
  color: #212529;
  background-color: #e0a800;
  border-color: #d39e00;
  box-shadow: 0 0 0 0.2rem rgb(222 170 12 / 50%);
  background-image: none;
}

.spinner {
  display: inline-block;
  width: 10px;
  height:  10px;
  vertical-align: text-bottom;
  border: 3px solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

.oauth-error,
.error-token {
  color: #721c24;
  background-color: #f8d7da;
  padding: 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 10px 15px 10px 0;
}

.oauth-error {
  width: 50%;
}

.switch-shop {
  margin-top: 18px;
}
